.footer {
  background-color: var(--gray-1);
}

.footerContainer {
  padding: 4rem 1rem;
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.infos {
  justify-self: center;
}

.infos h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-7);
  position: relative;
}
.infos h3::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -12px;
  width: 4px;
  height: 20px;
  display: block;
  background-image: linear-gradient(var(--green-2), var(--green-1));
}

.infos ul {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.infos a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--gray-10);
  position: relative;
  transition: color 0.2s;
}
.infos:hover a {
  color: var(--gray-6);
}
.infos a:hover {
  color: var(--gray-12);
}
.infos a::before {
  position: absolute;
  top: -4px;
  left: -28px;
}
.infos:nth-child(2) a::before {
  content: url("../img/icons/Arrow_FILL.svg");
}
.infos:nth-child(3) a::before {
  content: url("../img/icons/Arrow_FILL.svg");
  transform: rotate(-55deg);
  left: -26px;
}

.footerBtnContact {
  position: relative;
  cursor: pointer;
  font-family: var(--font-family-1);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--gray-10);
  border: none;
  background-color: transparent;
  transition: color 0.2s;
}
.infos:hover .footerBtnContact {
  color: var(--gray-6);
}
.infos .footerBtnContact:hover {
  color: var(--gray-12);
}
.footerBtnContact::before {
  position: absolute;
  top: 2px;
  left: -28px;
}
.contactPhone::before {
  content: url("../img/icons/Phone_SMALL_FILL.svg");
}
.contactEmail::before {
  content: url("../img/icons/Email_SMALL_FILL.svg");
}

.profile,
.copywrite {
  margin-top: 4rem;
  font-size: 1rem;
  color: var(--gray-5);
  grid-column: 1 / -1;
  justify-self: center;
}

.profile .logo {
  gap: 0.5rem;
  flex-direction: column;
}
.profile .logo img:nth-child(1) {
  width: min-content;
}
.profile .logo img:nth-child(2) {
  width: 5rem;
  opacity: 0.7;
}

.networks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media (width <= 860px) {
  .footerContainer {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

@media (width <= 720px) {
  .footerContainer {
    grid-template-columns: 1fr 1fr;
  }
  .infos:nth-child(2) {
    margin-left: 2rem;
  }
  .infos:nth-child(3) {
    grid-row: 1;
    grid-column: 2;
  }
}

@media (width <= 600px) {
  .footerContainer {
    grid-template-columns: 2fr 1fr;
  }
}

@media (width <= 470px) {
  .footerContainer {
    padding-bottom: 2rem;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .infos {
    padding-left: 2rem;
    justify-self: start;
  }
  .infos:nth-child(2) {
    margin: 0;
  }
  .infos:nth-child(3) {
    grid-row: auto;
    grid-column: auto;
  }

  .profile {
    margin-top: 2rem;
    justify-self: start;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .profile .logo {
    flex-direction: row;
  }
  .networks {
    margin: 0;
  }
  .copywrite {
    text-align: center;
    margin-top: 1rem;
  }
}
